/*common shared styles */
body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;

}

.banner-description {
    color: #757575;
    text-align: center;
    font-size: 18px;

}

/*nav related styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;

}

.nav-title {
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;

}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 15px 35px;

}

.header {
    background-color: white;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 500px;

}

.banner .profile-pic {
    width: 300px;

}

.banner-greeting {
    font-size: 45px;
    margin-bottom: 0px;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
}

.banner-description {}

/* main section styles */
main {
    max-width: 1150px;
    margin: 0px auto;
}

main section {
    margin-top: 130px;
}

/* about section styles */
.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

#what-i-do {
    padding: 30px 150px;
}

.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-paragaraph {
    color: gray;
}

/* resume section styles */
.resume-colum-title {
    color: var(--Dark-02, #474747);
    font-size: 30px;
    font-weight: 700;
}

.resume-container{
    display: flex;
    gap: 50px;
}

.resume-item-institute,.resume-item-description{
    color: #757575;
}
.download-cv{
    text-align: center;
    margin-top: 50px;
}

/* footer styles */
footer{
    display: flex;
    gap: 100px;
    background-color: #FFF8F3;
    padding: 150px 200px;
    margin-top: 100px;
}

.footer-coulmn{
    width: 50%;
}

.contact input[type="text"], input[type="email"], textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    background: #FFF;
}
.social-links a{
    margin-right: 25px;
}